.Header-Head{
    width: 100%;
    background-color: #1976d2;
    text-align: center;
    display: flex;
    height: 22%;
}
.Header-Container{
    display: flex;
    justify-content: space-between;
}
#root{
    margin: 0;
    padding: 0;
}
.Header-p{
    margin: auto;
    font-size: 4vw;
    color: gold;
}
